.calendario{
	width: 40%;
    height: 35em;
    background:rgba(6,135,244,0.15);
    position: relative;
    top: 180px;
    float: left;
    margin-left: 20px;
    border-radius: 5px;
    overflow: scroll;
    text-align: left;
    border: 1px solid #fff;
}

.input-group{
	padding: 5px 15px;

}
.calendario-info{
	width: 55%;
    height: 35em;
    background:rgba(6,135,244,0.15);
    position: relative;
    top: 180px;
    float: right;
    margin-right: 20px;
    border-radius: 5px;
    text-align: left;
    padding: 60px;
    border: 1px solid #fff;



}


::-webkit-scrollbar { 
    display: none; 
}

#basic-url{
    margin: 14px;
    border-radius: 8px;
}
.btn-calendario{
    margin-left: 13px;
}
.ingreso-equipos{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 30px;
    background:rgba(35,40,39, .7);
    border-radius: 8px;
    height: auto;
}

.sorteo-partidos{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 50px;
    background:rgba(35,40,39, .7);
    border-radius: 8px;
    height: auto;
    
}
li{
    padding: 10px;
}
#btn-eliminate{
  float: right;
}
hr{
   border:dotted;
}