<!DOCTYPE html>
<html lang="en" ng-app="allCrFutbol">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/calendario_style.css">

	</head>
	<body  ng-controller="CalendarioController">
	
		<article class="calendario row container table-responsive "  >
			<div class="titulos-calendario col-lg-12">
				<h1>CREA TU CALENDARIO</h1>
				<h3>Ingresa los equipos</h3>
			</div>
			
		
			<section class="ingreso-calendario col-lg-8">
				<form class=" col-lg-8 input-group input-group-lg " ng-submit="addTeam()">
					  <input type="text" class="form-control" placeholder="Enter team's name" ng-model="teamToAdd.name" aria-describedby="sizing-addon1">
					  <span class="input-group-btn">
					  	<input  type="submit" class="btn btn-success btn-lg "  value="Add team" aria-haspopup="true" aria-expanded="false"> </input>
					  </span >
					</form>
			</section>

			<section class=" ingreso-equipos col-lg-4">
			      <ol >
			        <li ng-repeat="team in teams" >
			          {{team.name}} {{team.provincia}}
			       
			        </li>
			        
			      </ol>
			</section>
		</article>   
		
		<article class= " calendario-info row container table-responsive "  >
			<section class="col-lg-12" >
		      <ul ng-if="teams.length > 0" class="list-unstyled">
		      <h3>Encuentros a realizar</h3>
		        <li ng-repeat="game in games()" >
		          {{game.teamA.name + ' vs ' + game.teamB.name}}
		        </li>
		      </ul>
		    </section>
		</article>
	</body>
</html>

