<!DOCTYPE html>
<html lang="en" ng-app="allCrFutbol">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/calendario_style.css">

	</head>
	<body  ng-controller="CalendarioController">
	
		<article class="calendario row container table-responsive "  >
			<div class="titulos-calendario col-lg-12">
				<h1>CREA TU CALENDARIO</h1>
				<h2>Ingresa los equipos</h2>
			</div>
			
		
			<section class="ingreso-calendario col-md-6">
				<form class=" col-lg-8 input-group input-group-lg " ng-submit="addTeam()">
					<input type="text" class="form-control" placeholder="Enter team's name" id="basic-url" ng-model="new.name" aria-describedby="sizing-addon1" required> 
					<input type="text" class="form-control" placeholder="Enter URL's image" id="basic-url" ng-model="new.image" aria-describedby="sizing-addon1" required >					 
				  	<input  type="submit" ng-click="send(new)" class="btn btn-calendario btn-success btn-lg "  value="Add team" aria-haspopup="true" aria-expanded="false"> </input>
					 
					</form>
			</section>

			<section class=" ingreso-equipos col-md-6">
				<h3>Mis equipos</h3>
		        <ol >
			        <li ng-repeat="team in teams" >
			          {{team.name}}<button id ="btn-eliminate"ng-click="removeTeam(team)"class="btn btn-danger"><small>Eliminate</small></button><hr>
			        </li>
	        
			       
		       </ol>
			</section>
		</article>   
		
		<article class= " calendario-info row container table-responsive "  >
			<section class="col-lg-12 sorteo-partidos" >
			<h2>Partidos a jugar</h2>
		      <ul ng-if="teams.length > 0" class="list-unstyled">
		      
		        <li ng-repeat="game in games()" >
		          {{game.teamA.name + ' vs ' + game.teamB.name}}
		        </li>
		      </ul>
		    </section>
		</article>
	</body>
</html>

