<div class="inner cover">
        <h1 class="cover-heading">Organiza tu juego.</h1>
        <p class="lead">Con esta aplicación puedes organizar tu torneo de fútbol.</p>
        <p class="lead">
          <a href="http://index.html#/calendario" class="btn btn-lg btn-info">Haz la prueba</a>

        </p>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Desarrollo web  <a href="http://getbootstrap.com">Proyecto Final</a>, by <a href="https://www.facebook.com/luis.sandino.3">Luis Sandino Ruiz </a>.</p>
      </div>
</div>

      