<!DOCTYPE html>
<html lang="en" ng-app="allCrFutbol">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body ng-controller="JornadasController">
		<div class="jor-container ">
		<h1>ESCOJA UNA JORNADA</h1>
			<select  class="form-control">
			  <option value="jor1">Jornada 1</option>
			  <option value="jor2">Jornada 2</option>
			  <option value="jor3">Jornada 3</option>
			  <option value="jor4">Jornada 4</option>
			  <option value="jor5">Jornada 5</option>
			  <option value="jor6">Jornada 6</option>
			  <option value="jor7">Jornada 7</option>
			  <option value="jor8">Jornada 8</option>
			  <option value="jor9">Jornada 9</option>
			  <option value="jor10">Jornada 10</option>
			  <option value="jor11">Jornada 11</option>
			</select>
		</div>
	</body>
</html>