
<!DOCTYPE html>
<html lang="en" ng-app="allCrFutbol">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/tabla_style.css">
	</head>
	<body ng-controller="tablaController">
	
	<div class= "table-container ">
		<h1>TABLA DE POSICIONES DE PRIMERA DIVISIÓN</h1>
		<table class="tbl-clasificacion table" ng-controller="TablaController">
		    <thead >
		      <tr>
		        <th>POS</th>
		        <th class="col-equipos">EQUIPOS</th>
		        <th>PJ</th>
		        <th>PG</th>
		        <th>PE</th>
		        <th>PP</th>
		        <th>GF</th>
		        <th>GC</th>
		        <th>DIF</th>
		        <th class="col-pt">PUNTOS</th>
		      </tr>
		    </thead>
   			<tbody >
			 	<tr ng-repeat="team in teams">
				    <td>{{teams.length}}</td>
				    <td class="col-equipos">
				    	<img ng-src="{{team.image}}" height="25px" width="25px">
				    	{{team.name}}
				    </td>
				    <td>7</td>
				    <td>2</td>
				    <td>3</td>
				    <td>2</td>
				    <td>4</td>
				    <td>5</td>
				    <td>5</td>
				    <td class="col-pt">9</td>
		    	</tr>
		    	
         	 </tbody>
		</table>
</div>
		
	</body>
</html>